@{
    ViewData["Title"] = "About JobQuest.Web";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<p class="mt-4">
    JobQuest.Web is a JobSeeker Portal created with ASP.NET and Entity Framework Core for COS20007 HD Custom Project.
    <br />
    JobQuest.Web has 3 major users which is JobSeeker, HR and Admin.
</p>

<div class="container mt-4">
    <h2>JobSeeker Functionalities</h2>
    <ul>
        <li>View Job Listing</li>
        <li>Apply for Jobs</li>
        <li>View Applied Jobs</li>
    </ul>

    <h2>HR Functionalities</h2>
    <ul>
        <li>Manage Posted Jobs</li>
        <li>Post Job</li>
        <li>View Applicants for Jobs</li>
        <li>Download Resumes from Applicants</li>
        <li>Manage Applications</li>
    </ul>

    <h2>Admin Functionalities</h2>
    <ul>
        <li>Manage Accounts</li>
        <li>Manage Job Listings</li>
    </ul>

</div>
